/* ALL PAGES */
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5;
    color: white;
    width:99%;
    margin: auto;
}
a{
    text-decoration: none;
}
a:link{
    color: white;
}
a.black:link{
    color: black;
}
a:visited{
    color: white;
}
a:hover,a:focus{
    color: lightskyblue;
}
footer{
    text-align: center;
    font-size: 1em;
    width: 60%;
    font-family: monospace;
    margin: 3em auto 4em auto;
}

/*INDEX.HTML PAGE*/
header#headerMainPage{
    font-size: 1.5em;
}
h4#H4ElementDateTime{
    margin-top: 1em;
}
section#sectionImageMainPage{
    margin: 3em auto 2em auto;
    width: 60%;
}
img#allTechnologiesImg{
    width: 100%;
}

/*CONTENT.HTML, DOCKER.HTML and related pages*/
section{
    width: 90%;
    font-size: 1.5em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
section .container-two-column {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto;
    width: 100%;
    margin: auto;
}
section .container-two-column img{
    width: 95%;
    height: 23em;
    padding-bottom: 1.5em;
}
section .container-one-column {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    width: 100%;
    margin: auto;
}
section .container-one-column img{
    width: 60%;
    height: 25em;
    padding-bottom: 1.5em;
}
section .container-one-column p{
    padding: 0.6em 0.4em 0.6em 0.4em;
    width: 97,5%;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
    font-size: 1.2em;
    text-align: justify;
}
section .container-one-column a p{
    width: 59%;
    margin-top: -1em;
    margin-bottom: 1.5em;
    background-color: purple;
    text-align: center;
}

/*DOCKER.HTML and related same-package pages*/
section .container-one-column iframe{
    width: 71.5%;
    height: 25em;
}
section .container-one-column #pdf-img{
    width: 5em;
    height: 6.5em;
}
section .container-one-column #ticket-img{
    width: 60%;
    height: 10em;
}

/*EUCHARISTIC.HTML*/
#eucharistic{
    width: 90%;
    text-align: justify;
    margin: auto;
    margin-bottom: 7em;
}
#eucharistic div.central{
    text-align: center;
    font-size: 1.2em;
    width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
}
#eucharistic div.central iframe{
    width: 100%;
    height: 25em;
}
#eucharistic div.central img{
    width: 97%;
    height: 25em;
}
#eucharistic h1{
    font-size: 3em;
    text-align: center;
}
#eucharistic h2{
    font-size: 2em;
}
#eucharistic h3{
    font-size: 1.5em;
    text-align: center;
}
#eucharistic h3#red{
    font-size: 1.5em;
    background-color: red;
    text-align: center;
    font-style: italic;
    padding: 1em;
}
#eucharistic h3#green{
    font-size: 1.5em;
    background-color: green;
    text-align: center;
    font-style: italic;
    padding: 1em;
}
#eucharistic #email{
    font-size: 1.7em;
    border: white dashed thin;
    width: 45%;
    margin: auto;
    padding: 1em;
    color: green;
}
#eucharistic #email a{
    color: green;
}
#eucharistic a{
    margin: auto;
    text-align: center;
    height: 30em;
    width: 90%;
    margin: auto;
}
#eucharistic img{
    margin: 0em;
    padding: 0em;
}
#eucharistic img, #eucharistic iframe{
    height: 80%;
    margin-bottom: 0em;
}
#eucharistic section{
    width: 100%;
}
