body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5;
    color: white;
    width:99%;
    margin: auto;
}
header#headerMainPage{
    font-size: 1.5em;
}
h4#H4ElementDateTime{
    margin-top: 1em;
}
section#sectionImageMainPage{
    margin: 3em auto 2em auto;
    width: 60%;
}
section#sectionContentList{
    width: 70%;
    font-size: 1.5em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 100%;
    margin: auto;
}
.container > a {
    width: 96.5%;
    margin: auto;
    margin-bottom: 1.5em;
}
.container > a > img.vertical-img{
    width: 96.5%;
    height: 100%;
}
.container > a > img.horizontal-img{
    width: 97%;
    height: 15em;
}
.container-article, .container-apps {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    width: 100%;
    margin: auto;
}
.container-article > a, .container-apps > a{
    width: 60%;
    margin: auto;
    margin-bottom: 2.5em;
}
.container-article > a > img.vertical-img, .container-apps > a > img.vertical-img{
    width: 100%;
    height: 100%;
}
.container-article > a > img.horizontal-img, .container-apps > a > img.horizontal-img{
    width: 100%;
    height: 18em;
}
.container-article > a > p, .container-apps > a > p{
    padding: 0.6em 0.4em 0.6em 0.4em;
    width: 97,5%;
    margin: auto;
    font-size: 1.2em;
    background-color: purple;
}
section#sectionCourseMain{
    margin: 2em auto 2em auto;
    width: 60%;
}
section#sectionCourseMain article#article1{
    margin: 0em auto 2em auto;
}
section#sectionCourseMain article#article1 iframe{
    width: 40em;
    height: 20em;
}
section#sectionCourseMain article#article2{
    font-size: 1.3em;
    line-height: 2;
    width: 100%;
    margin: 0em auto 0em auto;
}
section#sectionLinks{
    margin: 2em auto 2em auto;
    width: 60%;
    font-size: 1.3em;
    line-height: 2;
}
img#allTechnologiesImg{
    width: 100%;
}
a{
    text-decoration: none;
}
a:link{
    color: white;
}
a.black:link{
    color: black;
}
a:visited{
    color: white;
}
a:hover,a:focus{
    color: lightskyblue;
}
footer{
    text-align: center;
    font-size: 1em;
    width: 60%;
    font-family: monospace;
    margin: 3em auto 4em auto;
}
footer#footerMainPage{
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 58%;
}
