/*INDEX.HTML PAGE*/
header#headerMainPage{
    font-size: 0.9em;
}
section#sectionImageMainPage{
    margin: 3em auto 2em auto;
    width: 100%;
}
/*CONTENT.HTML PAGE and related same-package pages*/
section#sectionContentList{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}
section#sectionContentList .container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}section#sectionContentList .container a {
    width: 100%;
    margin-bottom: 1em;
}
section#sectionContentList .container img.vertical-img{
    width: 100%;
}
section#sectionContentList .container img.horizontal-img{
    width: 100%;
    height: 11em;
}
section#sectionContentList .container-mono div{
    width: 100%;
    margin-bottom: 1em;
}
section#sectionContentList .container-mono img.vertical-img{
    height: 15em;
}
section#sectionContentList .container-mono img.horizontal-img{
    height: 11em;
}
section#sectionContentList .container-mono p{
    padding: 0.4em 0.3em 0.4em 0.3em;
    width: 97%;
    margin-top: 0.2em;
    margin-bottom: 0.55em;
    font-size: 0.9em;
}
section#sectionContentList .container-mono p#long-text-link{
    padding: 0.4em 0.3em 0.4em 0.3em;
    width: 97%;
    margin-top: 0.2em;
    margin-bottom: 0.55em;
    font-size: 0.8em;
}

/*DOCKER.HTML and related same-package pages*/
section#sectionCourse{
    width: 100%;
    font-size: 0.9em;
    margin-top: 1em;
    margin-bottom: 1em;
}
section#sectionCourse .container-mono{
    margin-top: 1em;
}
section#sectionCourse .container-mono div{
    width: 100%;
}
section#sectionCourse .container-mono iframe{
    height: 20em;
    margin-top: 1em;
}
section#sectionCourse .container-mono p{
    width: 85%;
}
section#sectionCourse .container-mono a p{
    width: 96%;
    margin-bottom: 0.85em;
    font-size: 1.2em;
}
section#sectionCourse .container-mono img.vertical-img{
    width: 100%;
    height: 23em;
}
section#sectionCourse .container-mono img.horizontal-img{
    width: 100%;
    height: 11em;
}
/* eucharistic.html page*/
#eucharistic{
    width: 97%;
}
#eucharistic div.central{
    width: 90%;
}
#eucharistic div.central iframe{
    width: 100%;
    height: 20em;
}
#eucharistic div.central img{
    width: 100%;
    height: 20em;
}
#eucharistic h1{
    font-size: 1.8em;
    text-align: center;
}
#eucharistic h2{
    font-size: 1.5em;
    padding: 1em;
}
#eucharistic h3{
    font-size: 1.3em;
}
#eucharistic #email{
    font-size: 1.1em;
    width: 90%;
}
#eucharistic img{
    height: 15em;
    width: 10em;
    margin-bottom: 1em;
    margin-top: 1em;
}
#eucharistic #sectionContentList{
    width: 100%;
}
#eucharistic a{
    height: 20em;
    width: 100%;
}
#eucharistic #sectionContentList a{
    margin-bottom: 1em;
    height: 23em;
}
#eucharistic #sectionContentList a iframe{
    width: 90%;
    height: 18em;
}
#eucharistic #sectionContentList a p{
    width: 90%;
    margin: auto;
    font-size: 0.9em;
}
